.createButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.createButtonContainer .createRecordButton {
    padding: .8em;
    color: #fff;
    font-weight: bold;
    font-variant-caps: petite-caps;
    background-color: #ff1717;
    border: solid 1px #ff1717;
    border-radius: 10px;
    cursor: pointer;
    margin: auto 1em;
}