.HeaderContainer {
  position: sticky;
  top: 0;
  background-color: #161d29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderContainer img {
  width: 8rem;
  padding: 1rem 0rem;
}
