table {
  width: 90%;
  border-collapse: collapse;
  margin: 1em auto;
}

th {
  background: #161d29;
  color: white;
  font-weight: normal;
  font-variant-caps: petite-caps;
}

td,
th {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1em;
}
td img {
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #ccc;
  cursor: pointer;
  width: 3rem;
  margin: 0rem 1rem;
}

i {
  background-color: #fff;
  cursor: pointer;
  width: 3rem;
  margin: 0rem 1rem;
}

.aboutTD {
  width: "auto";
}

input {
  padding: 0.5em;
  border: 1px solid #ccc;
  font-size: 1em;
}

@media (max-width: 770px) {
  input {
    width: 10vw;
  }
}

@media (max-width: 360px) {
  input {
    width: 5vw;
  }
}
