.LoadingButton {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.LoadingButton:disabled {
  opacity: 0.5;
}

.loadBtn {
  margin-right: 5px;
  background-color: transparent;
  cursor: pointer;
  width: 3rem;
}
